<?xml version="1.0"?>
<!--

  Copyright (c) 2013, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

-->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        name="reem" >

  <!-- Stock REEM robot -->
  <xacro:include filename="$(find reem_description)/robots/reem_full.urdf.xacro" />

  <!-- Head-mounted ASUS Xtion Pro Live -->
  <xacro:include filename="$(find reem_description)/urdf/sensors/xtion_pro_live.urdf.xacro" />
  <xacro:xtion_pro_live parent="head_2_link" name="head_mount_xtion" > <!-- name is appended to create link and topic names -->

     <!-- pose of head_mount_xtion_frame wrt /head_2_link -->
     <origin xyz="${cal_head_mount_xtion_x}
                  ${cal_head_mount_xtion_y}
                  ${cal_head_mount_xtion_z}"
             rpy="${cal_head_mount_xtion_roll}
                  ${cal_head_mount_xtion_pitch}
                  ${cal_head_mount_xtion_yaw}" />

     <!-- pose of head_mount_xtion_optical_frame wrt head_mount_xtion_frame -->
     <origin xyz="0.0 0.0 0.0" rpy="-1.57 0.0 -1.57" />
<!--
     <property name="M_PI" value="3.1415926535897931" />
     <origin xyz="0.0 0.0 0.0" rpy="-M_PI/2.0 0.0 -M_PI/2.0" />
-->
  </xacro:xtion_pro_live>

</robot>
