<launch>
  <!-- @todo NOT used yet, we'll have to wait for hydro (MoveIt!) and see if we can get rid of USE_RGBD_SENSOR in move_arm; note that until them, this will only upload the reem full regardless of the robot argument! -->
  <arg name="robot" default="full"/>

  <!-- Optional environment variable, to enable RGBD sensor -->
  <arg name="use_rgbd_sensor" value="$(optenv USE_RGBD_SENSOR false)" />

  <!-- Default, send standard REEM URDF model to ROS Param Server -->
  <group unless="$(arg use_rgbd_sensor)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find reem_description)/robots/reem_with_xtion_link.urdf.xacro'" />
  </group>

  <!-- Alternatively load REEM URDF with RGBD sensor -->
  <group if="$(arg use_rgbd_sensor)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find reem_description)/robots/reem_rgbd.urdf.xacro'" />
  </group>

  <!-- Joint limits -->
  <rosparam command="load" file="$(find reem_description)/config/joint_limits.yaml"/>
</launch>
