<launch>
  <!-- Diff drive controller multipliers -->
  <rosparam command="load" file="$(find ant_controller_configuration)/config/mobile_base_controller_multipliers.yaml"/>

  <!-- Robot model -->
  <include file="$(find ant_description)/robots/upload_ant.launch"/>

  <!-- Bring up robot -->
  <include file="$(find ant_bringup)/launch/ant_bringup.launch"/>
</launch>
