<launch>
  <!-- Load default controllers -->
  <include file="$(find ant_controller_configuration)/launch/default_controllers.launch"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- TF lookup -->
  <node pkg="tf_lookup" type="tf_lookup" name="tf_lookup" output="screen"/>

  <!-- Twist mux -->
  <include file="$(find ant_bringup)/launch/twist_mux.launch"/>

  <!-- Speed limit -->
  <include file="$(find speed_limit)/launch/speed_limit.launch">
    <arg name="config" value="$(find ant_bringup)/config/speed_limit.yaml"/>
  </include>

  <!-- Bumper, IR and Sonar to cloud -->
  <include file="$(find sensor_to_cloud)/launch/bumper_to_cloud.launch"/>
  <include file="$(find sensor_to_cloud)/launch/ir_to_cloud.launch"/>
  <include file="$(find sensor_to_cloud)/launch/sonar_to_cloud.launch"/>

  <!-- Joystick controller -->
  <include file="$(find ant_bringup)/launch/joystick_teleop.launch"/>
</launch>
