<?xml version="1.0"?>
<!--
  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find reemh2_description)/urdf/deg_to_rad.xacro" />

  <xacro:macro name="reem_eye_hand_calibration_chessboard_gazebo" params="name side reflect">

 <link name="eye_hand_calibration_chessboard_${side}_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.01" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.2 0.01" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0001" iyy="0.2333" iyz="0.0" izz="0.0001" />
    </inertial>
  </link>
  
  <gazebo reference="eye_hand_calibration_chessboard_${side}_link">
    <material value="eyeHandCalibrationChessBoard" /> 
    
  </gazebo>

  <joint name="eye_hand_calibration_chessboard_${side}_joint" type="fixed">
    <parent link="arm_${side}_7_link"/>
    <child link="eye_hand_calibration_chessboard_${side}_link"/>
    <!-- <origin xyz="-0.15 0 0.18" rpy="0 0 0"/> -->
    <origin xyz="${reflect * 0} -0.2 ${reflect * 0.15}" rpy="0 0 0"/>
  </joint>

</xacro:macro>

</robot>
