<?xml version="1.0"?>

<!-- Test ros_control integration of ANT on a dummy implementation of the ActuatorsManager.
     This test does not use the actual ActuatorsManager, but a minimal implenentation of its interface.
 -->

<launch>
  <!-- Deployer -->
  <arg name="orocos_target" value="$(optenv OROCOS_TARGET gnulinux)" />
  <node name="rt_control"
        pkg="ocl"
        type="deployer-$(arg orocos_target)"
        args="-s $(find ant_hardware_tests)/config/dummy_act_mgr_test.ops --no-consolelog --"/>

  <!-- Robot model -->
  <include file="$(find ant_description)/robots/upload_ant.launch" />

  <!-- Controller configuration -->
  <include file="$(find ant_controller_configuration)/launch/default_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
</launch>
