<?xml version="1.0"?>

<!-- 
  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="range_gazebo" params="name ros_topic update_rate maxRange minRange fov radiation" >
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>${update_rate}</update_rate>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </horizontal>
            <vertical>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${minRange}</min>
            <max>${maxRange}</max>
            <resolution>0.01</resolution>
          </range>
	  <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.005</stddev>
          </noise>
        </ray>
	<plugin name="${name}_gazebo_ros_range" filename="libgazebo_ros_ray_sensor.so">
            <ros>
                <namespace></namespace>
                <remapping>~/out:=${ros_topic}</remapping>
            </ros>
            <output_type>sensor_msgs/Range</output_type>
	    <radiation_type>${radiation}</radiation_type>
            <frame_name>${name}_link</frame_name>
        </plugin>
      </sensor>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

</robot>
