<?xml version="1.0"?>
<!-- 
  Copyright (c) 2022 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="pmb2">

  <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
	    <!-- in the future move this param file somewhere else -->
	    <parameters>$(find pmb2_controller_configuration)/config/gazebo_controller_manager_cfg.yaml</parameters>
        <xacro:if value="${is_multiple}">
          <!-- Do something about multirobot -->
        </xacro:if>
        <xacro:unless value="${is_multiple}">
          <!-- Do something about multirobot -->
        </xacro:unless>
      </plugin>

    <plugin filename="libgazebo_world_odometry.so" name="gazebo_ros_odometry">
      <frameName>world</frameName>
      <bodyName>base_footprint</bodyName>
      <topicName>ground_truth_odom</topicName>
      <updateRate>100.0</updateRate>
      <xacro:if value="${is_multiple}">
          <robotNamespace>/${nsp}</robotNamespace>
      </xacro:if>
    </plugin>
  </gazebo>

  <gazebo reference="base_imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>10.0</update_rate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </sensor>
  </gazebo>

  <!-- define global properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

</robot>
