<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="laser_model"/>
  <arg name="rgbd_sensors"/>

  <!-- Diff drive controller multipliers -->
  <arg name="calibrated_multipliers_dir"  value="$(optenv pal_wheel_calibration_calibration_path)"/>
  <arg name="multipliers_dir"  value="$(eval calibrated_multipliers_dir if (calibrated_multipliers_dir != '') else find('pmb2_controller_configuration') + '/config')"/>
  <rosparam command="load" file="$(arg multipliers_dir)/mobile_base_controller_multipliers.yaml"/>

  <!-- Diff drive controller parameters -->
  <rosparam command="load" file="$(find pmb2_controller_configuration)/config/mobile_base_controller.yaml"/>

  <!-- Robot model -->
  <include file="$(find pmb2_description)/robots/upload.launch">
    <arg name="laser_model" value="$(arg laser_model)"/>
    <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
  </include>

  <!-- pmb2_hardware parameters -->
  <rosparam command="load" file="$(find pmb2_bringup)/config/pmb2_hardware.yaml"/>

  <!-- Bring up robot -->
  <include file="$(find pmb2_bringup)/launch/pmb2_bringup.launch"/>
</launch>
