<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot" default="custom"/>

  <!-- Diff drive controller multipliers -->
  <rosparam command="load" file="$(find pmb2_controller_configuration)/config/mobile_base_controller_multipliers.yaml"/>

  <!-- Diff drive controller parameters -->
  <rosparam command="load" file="$(find pmb2_controller_configuration)/config/mobile_base_controller.yaml"/>

  <!-- Robot model -->
  <include file="$(find pmb2_description)/robots/upload_pmb2.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- pmb2_hardware parameters -->
  <rosparam command="load" file="$(find pmb2_bringup)/config/pmb2_hardware.yaml"/>

  <!-- Bring up robot -->
  <include file="$(find pmb2_bringup)/launch/pmb2_bringup.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>
</launch>
