<?xml version="1.0"?>
<!--

  Copyright (c) 2013, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

  Calibration values for sensors:

-->
<robot>
  <property name="cal_stereo_x"     value="0.0849924"/>
  <property name="cal_stereo_y"     value="-0.110313"/>
  <property name="cal_stereo_z"     value="0.0443663"/>
  <property name="cal_stereo_roll"  value="1.58032"/>
  <property name="cal_stereo_pitch" value="-0.0563735"/>
  <property name="cal_stereo_yaw"   value="0.0174399"/>

  <!-- Head-mounted ASUS Xtion Pro Live -->
  <!-- These calibration values affect 2 frames:
         (name)_xtion_ir_optical_frame
         (name)_xtion_rgb_optical_frame              -->
  <!--
  <property name="cal_head_mount_xtion_x"     value="0.085707" />
  <property name="cal_head_mount_xtion_y"     value="-0.255851" />
  <property name="cal_head_mount_xtion_z"     value="0.0920873" />
  <property name="cal_head_mount_xtion_roll"  value="1.49965" />
  <property name="cal_head_mount_xtion_pitch" value="0.0108274" />
  <property name="cal_head_mount_xtion_yaw"   value="0.458756" />
  -->

  <!-- Ideal values for simulation -->
  <property name="cal_head_mount_xtion_x"     value="0.085" />
  <property name="cal_head_mount_xtion_y"     value="-0.25" />
  <property name="cal_head_mount_xtion_z"     value="0" />
  <property name="cal_head_mount_xtion_roll"  value="1.57" />
  <property name="cal_head_mount_xtion_pitch" value="0.0" />
  <property name="cal_head_mount_xtion_yaw"   value="0.458756" />

</robot>


