<?xml version="1.0"?>
<!--

  Copyright (c) 2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<!-- XML namespaces -->
<robot name="reem" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="stingrayf033c_camera" params="name parent *origin">

    <joint name="${name}_frame_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" />
        <inertia ixx="0"  ixy="0.0"  ixz="0.0"
                 iyy="0"  iyz="0.0"
                 izz="0" />
      </inertial>
      <visual>
        <origin xyz="-0.01 0 0" rpy="0 ${deg_to_rad * 90} 0" />
        <geometry>
          <cylinder radius="0.01" length="0.018" />
        </geometry>
        <material name="Blue"/>
      </visual>
    </link>


    <!-- attach optical frame to the camera link -->
    <joint name="${name}_optical_frame_joint" type="fixed">
      <!-- rotate frame from x-forward to z-forward camera coords so that
           the optical frame has z-forward, x-rightwards and y-downwards -->
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" /> 
      <parent link="${name}_link"/>
      <child link="${name}_optical_frame"/>
    </joint>
    <!-- optical frame for the stereo camera, with z-forward notation, this is the frame stereo camera images users should refer to -->
    <link name="${name}_optical_frame" type="camera">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0"  ixy="0"  ixz="0" 
                 iyy="0"  iyz="0"  
                 izz="0" /> <!-- this inertia is made up for now. -->
      </inertial>
    </link>


  </xacro:macro>

</robot>
