<?xml version="1.0"?>
<!-- 
Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pmb2">

  <!-- INCLUDES -->
  <xacro:include filename="$(find pmb2_description)/urdf/wheels/wheel.ros2_control.xacro"/>

  <!-- MACRO DEFINITION-->
  <xacro:macro name="pmb2_ros2_control">

    <!-- Init the ROS 2 control gazebo interface -->
    <xacro:if value="${use_sim_time}">
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <ros>
            <namespace>${namespace}</namespace>
            <remapping>/tf:=tf</remapping>
            <remapping>/tf_static:=tf_static</remapping>
          </ros>
          <parameters>$(find pmb2_description)/ros2_control/gazebo_controller_manager_cfg.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <!-- ROS 2 control config-->
    <ros2_control name="ros2_control_pmb2_system" type="system">

      <!-- Execution env config -->
      <xacro:if value="${use_sim_time}">

        <!-- HW interface gazebo-->
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

      </xacro:if>
      <xacro:unless value="${use_sim_time}">

        <!-- HW interface robot control-->
        <hardware>
          <plugin>robot_control/RobotControl</plugin>
        </hardware>

      </xacro:unless>

      <!-- wheels -->
      <xacro:ros2_control_wheel side="right" />
      <xacro:ros2_control_wheel side="left" />

    </ros2_control>

  </xacro:macro>

</robot>
