<?xml version="1.0"?>

<!--
  Copyright (c) 2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="battery" params="name parent">
    <link name="${name}_link">
      <inertial>
        <origin xyz="-0.00005000000 -0.00002000000 0.01167000000" rpy="0 0 0"/>
        <mass value="4.97555000000"/>
        <inertia ixx="0.00083175771" ixy="0.00000000000" ixz="0.00000000000"
                 iyy="0.00279747489" iyz="0.00000000000"
                 izz="0.00361758249"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pmb2_description/meshes/objects/battery_atp.stl"/>
        </geometry>
        <material name="DarkGrey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pmb2_description/meshes/objects/battery_atp.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="battery_joint" type="fixed">
      <parent link="${parent}_link"/>
      <child link="${name}_link"/>
      <origin xyz="0 0 0.0985" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
