<?xml version="1.0"?>

<!--
  Copyright (c) 2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="battery" params="name parent">
    <link name="${name}_link">
      <inertial>
        <origin xyz="0.00001000000 0.00004000000 0.02499000000" rpy="0 0 0"/>
        <mass value="9.60000000000"/>
        <inertia ixx="0.02705864171" ixy="0.00000432313" ixz="-0.00000132845"
                 iyy="0.01270775873" iyz="-0.00000714500"
                 izz="0.02405406336"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pmb2_description/meshes/objects/battery_tlh_2.stl"/>
        </geometry>
        <material name="DarkGrey"/>
      </visual>
    </link>

    <joint name="battery_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="0 0 0.0985" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
