<launch>
  <arg name="robot" default="full"/>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ant_description)/robots/ant_$(arg robot).urdf.xacro'" />

  <!-- Joint limits -->
  <rosparam command="load" file="$(find ant_description)/config/joint_limits.yaml"/>
</launch>
