<launch>
  <!-- Upper body -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_upper_body_controllers.yaml" />

  <!-- Arms -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_arm_controllers.yaml" />
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_both_arms_controllers.yaml" />

  <!-- Hands -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_hand_controllers.yaml" />

  <!-- Head -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_head_controller.yaml" />

  <!-- Torso -->
  <rosparam command="load" file="$(find reem_controller_configuration)/config/reem_torso_controller.yaml" />

</launch>
