<?xml version="1.0"?>
<!--

  Copyright (c) 2011-2012, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find ant_description)/urdf/deg_to_rad.xacro" />

  <xacro:macro name="antenna" params="name parent side reflect num separation_y height">
    <joint name="${name}_${side}_${num}_link" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_${side}_${num}_frame" />
      <origin xyz="0.0 ${reflect * separation_y / 2} ${height}" rpy="0 0 ${reflect * 90.0 * deg_to_rad}" />
    </joint>

    <link name="${name}_${side}_${num}_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.3 0.3"/>
        </geometry>
        <material name="White"/>
      </visual>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.1" /> <!-- matrix below must not be zero, or Gazebo won't load -->
        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
                 iyy="0.1" iyz="0.0"
                 izz="0.1" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
